[Desktop Entry]
Version=1.0
Type=Application
Name=Bilibili2Audio
Name[zh_CN]=Bilibili2Audio 视频转音频
Comment=视频转音频工具
Comment[zh_CN]=跨平台视频转音频工具，支持本地视频和B站链接
Exec=bash -c 'cd "$(dirname "%k")" && ./start.sh'
Icon=audio-x-generic
Terminal=true
Categories=AudioVideo;Audio;
StartupNotify=true
